<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>docopt—language for description of command-line interfaces</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>docopt</h1>
    <h2>Try</h2>
    <pre>docopt 0.5.0 (Python reference implementation); output: JSON</pre>
    <form action="/" method=post>

        <textarea name=doc>{{ doc }}</textarea>
        <!--p><textarea id=term readonly>{{ args }}</textarea></p>
        <script type="text/javascript" >
            var textArea = document.getElementById('term');
            textArea.scrollTop = 999999;
        </script-->
        argv: <input type=text value="{{ argv }}" name=argv autofocus />
        <input type=submit value=run />
    </form>
    <pre>{{ args }}</pre>

</body>
